.Banner {
  height: 1540px;
  /* 
  background-image: url(../../assets/images/Banner.svg); */

  background-image: radial-gradient(#909090, #505050);

  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    'Title'
    'Image'
    'Title-Rodape';

  justify-content: center;
  align-items: center;
}

.Banner-Title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  flex-direction: column;
}

.Banner-Title h1 {
  grid-area: Title;

  font-size: 6.5em;

  margin: 0;
  padding: 0;

  color: #0f0f0f;

  text-shadow: 5px 12px 15px #2f2d2d;
}

.Banner-Title p {
  grid-area: Title;

  font-size: 40px;

  margin-top: -10px;
  padding: 0;

  color: #0f0f0f;

  text-shadow: 1px 1px 10px black;
}

.LogoKefi {
  animation: rotationImg 4s infinite;
  grid-area: Image;
}

.LogoKefi1 {
  margin-top: -30vh;
  margin-left: 26vw;
}

.LogoKefi2 {
  width: 400px;
  margin-left: 2vw;
}

.LogoKefi3 {
  margin-left: 155vh;
  width: 400px;
}

.Banner-Title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -290px;
}

.Banner-Title2 h1 {
  grid-area: Title-Rodape;

  font-size: 70px;

  margin: 0;
  padding: 0;

  color: #0f0f0f;
  font-weight: bold;
  text-shadow: 5px 7px 15px #2f2d2d;
}

.Banner-Title2 p {
  grid-area: Title-Rodape;

  font-size: 40px;

  margin: 0 200px;
  padding: 0;

  color: #0f0f0f;
  text-shadow: 1px 1px 10px black;
}

@keyframes rotationImg {
  0% {
    transform: rotateY(0deg);
    filter: opacity(100%);
  }

  25% {
    filter: opacity(80%);
  }

  50% {
    filter: opacity(50%);
  }

  100% {
    transform: rotateY(360deg);
    filter: opacity(100%);
  }
}

@media all and (max-width: 767px) {
  .Banner {
    height: 800px;
  }

  .Banner-Title h1 {
    font-size: 37px;
    margin-top: -4vh;
  }

  .Banner-Title h1 span {
    display: none;
  }

  .Banner-Title p {
    font-size: 23px;
  }

  .LogoKefi1 {
    width: 300px;
    margin-top: -50px;
    margin-left: 10%;
    animation: rotationImg 4s infinite;
  }

  .LogoKefi2 {
    display: none;
  }

  .LogoKefi3 {
    display: none;
  }

  .Banner-Title2 {
    width: 70%;
    margin-left: 15%;
    margin-top: -30px;
    margin-bottom: 10px;
  }

  .Banner-Title2 h1 {
    font-size: 37px;
  }

  .Banner-Title2 p {
    font-size: 19px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }
}
